<footer class="footer navbar">
  <div class="navbar-inner">
    <small>
      <a href="#">Property Research Services</a>
    </small>
    <nav>
      <ul class="nav pull-right">
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "Contact", '#' %>
        </li>
        <li>
          <a href="#">News</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>